        @font-face {
            font-family: immortal;
            src: url(IMMORTAL.ttf);
        }
        .body {
            background-image:url('Border.png'), url('Border.png');
            background-position: left top, right top;
            background-size: 2vw auto, 2vw auto;
            background-repeat:repeat-y, repeat-y;
            /*transform: none, scaleX(-1);*/
            margin: 0px;
            font-family: immortal;
            overflow-x: hidden;
            user-select: none;
        }
        .title {
            position:absolute;
            top:0vh;
            left:2vw;
            width: 96vw;
            height: 25.5vh;
        }
        .content {
            position: absolute;
            margin: 8.5vw;
            margin-top: 30vh;
            z-index: 2;
            font-size:24px;
            padding: 1vw;
        }
        .content-list {
            width:85vw;
        }
        #about {
            margin-right:15vw;
        }
        .content-text {
            position: relative;
            margin: 1vw;
            font-size:1.75vw;
            /*text-align:center;*/
            width: 80vw;
            
        }
        .footer {
            color: #4d4c4d;
            text-align: left;
            position: relative;
            bottom: 0px;
            left: 17.5vw;
            margin: 0;
            width: 50vw;
            height: auto;
            text-decoration: none;
            font-weight: bold;
            font-size: 3vw;
            overflow: visible;
        }
        .border {
            z-index:1;
            overflow: hidden;
        }
        .nav-bar {
          position: absolute;
          width: 50vw;
          /*z-index: 4;*/
          margin-top: 25.5vh;
          margin-left: 25vw;
          margin-right: 25vw;  
        }

        .nav-bar-list {
          list-style: none;
          border-color: #9f853d;
          border-width: 1vw;
          border-style: double;
          background-color: #cbb577;
          gap: 5vw;
          display: flex;
          flex-direction: row;
          z-index: 0;
          margin:0;
        }
        
        .menu {
            z-index: 2;
            width:1vw;
        }

        .nav {
          font-family: Product Sans;
          text-decoration: none;
          font-size: min(2vw, 15rem);
          color: #B29544;
          font-weight: bold;
          cursor: pointer; 
          border-color: #9f853d;
          border-width: thick;
        } 
        .nav:hover {
            color: #2980b9;
        }
        .archive {
            border-width: thick;
            border-color: #9f853d;
            border-style: solid;
            padding: 3vw;
            width: 70vw;
        }
        .yearly {
            display: flex;
            flex-direction: row;
            gap: 3vw;
            
        }
        .card {
            display: flex;
            flex-direction: column;
            width: 10vw;
            height: min(auto, 10vh);
            cursor: pointer; 
            border-radius:0.5vw;
            margin-top: 2vh;
            border-style:solid;
            border-width:thin;
            border-color:#cb9977;
        }
        .card:hover {
            background-color: #2980b9;
            box-shadow: 0 0 0 30px rgba(0, 230, 150, 0.2);
            transition: all 200ms ease-out;
            z-index: 5;
        }
        .card-img {
            width: 10vw;
            height: min(auto, 10vh);
            border-radius:0.5vw;
        }
        .card-text {
            margin: 0px;
            width: 10vw;
            height: auto;
            text-align: center;
            font-size: 1.5vw;
            overflow:hidden;
        }
        .important-notes {
            border: solid thick #cb9977;
            border-radius: 0.5vw;
            background-color: #cbb577;
            /* position: absolute;
            top: 100vh;
            left: 2vw;*/
            width: 80vw;
        }
        .board-list {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 5vw;
            padding: 0;
        }
        /*.mailing-list {
            border-width: medium;
            border-style: solid;
            border-radius: 5vw;
            border-color:#cb9977;
            padding: 2vw;
            text-align: center;
        }*/
        .upcoming {
            border-width: medium;
            border-style: solid;
            border-color:#cb9977;
        }
        .stuff {
            margin: 0;
            padding: 0;
            border: 0;
            display: flex;
            flex-direction: column;
            gap: 3vw;
            list-style: none;
        }
